<div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <!-- <p>Mise à jour : {{ lastUpdate | async | date: 'short' }}</p> -->
      <ul class="list-group">
        <app-appareil 
            *ngFor="let appareil of appareils; let i = index"
            [appareil]="appareil"
            [index]="i"
        >
        </app-appareil>
      </ul>
      <button 
        class="btn btn-success" 
        [disabled]="!isAuthenticated"
        (click)="onSwitchOn()"
      >
        Tout allumer
      </button>
      <button 
        class="btn btn-danger" 
        [disabled]="!isAuthenticated"
        (click)="onSwitchOff()"
      >
        Tout allumer
      </button>
    </div>
  </div>
</div>
